
:root {
  --main: #4c3f30;
  --sec: #1998c3;
}


div:first-child {
  background-color: var(--main);
  padding: 0px;
  border-radius: 1%;
  left: 5%;
}
.container {
  background-color: var(--sec);
  padding: 10px;
  border-radius: 0%;
  color: rgb(131, 217, 217);
}
ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}
ul li:first-child {
  padding: 0;
    margin: 0;
    --col:rgb(230, 22, 22);
    background-color: var(--col);
}
ul {
  display: flex;
  justify-content: space-between;
}
ul li {
  margin: 0;
  padding: 5px 10px;
}